
.icon-mail:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */